<h1>Lists</h1>
<p></p>
<%= @list.name %>
<h2>Movies</h2>
<ul>
<% @list.bookmarks.each do |bookmark| %>
<li><%= bookmark.movie.title %> <%= button_to "Delete", bookmark_path(bookmark), method: :delete, class:"btn btn-danger" %></li>
<% end %>
</ul>
<%= link_to "add movie", new_list_bookmark_path(@list) %>
<%= link_to "All Lists", lists_path, class:"btn btn-primary" %>
